  .footernav{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #1E293B;
    padding-top: 16px;
    margin-bottom: 24px;

    & span{
      font: var(--textspan);
      color: var(--gelo);
    }
  }

  .footerwrapper{
    
       

   .card{
      display: flex;
      width: 696px;
      height: 176px;
      gap: 16px;
      margin-bottom: 16px;
      
      & .cardtxt{
        & span{
          margin-bottom: 8px;
        }

        & h3{
          font: var(--texth2);
          color: var(--branco);
        }

        & p{
          font: var(--textp);
          color: var(--gelo);
        }
      }

      & img{
        width: 176px;
        height: 176px;
      
      }
    }
  }


  .footerconteiner{
    max-width: 1280px;
    padding-inline:32px;
    margin-inline: auto;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,280px);
    width: 100%;
  

    & .footerwrapper{
      grid-column: 1/2;
      grid-row: 1/5;
    }

    & .adds{

      grid-column: 2/2;
      grid-row: 1/3;
      width:488px;
      height: 280px;
      margin-bottom: 32px;

      img{
        border-radius: 4px;
      }
      
    }

    & .menuadds{
      /* display: grid; */
      grid-column: 2/2;
      grid-row:2/5;
      border-top: 1px solid #1E293B;
      padding-top: 16px;
      margin-bottom: 24px;

    
    }
  }

  .footeradds{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    & span{
      font: var(--textspan);
      color: var(--gelo);
    }


  }


  .footermenuads{

    & .cardcontainer{
      display: flex;
      gap:8px;
      margin-top: 18px;
    }

    & span{
      margin-bottom: 8px;
    }

    & img{
      width: 72px;
      height: 72px;
    }

    & p{
      font: var(--texth2);
      color: var(--branco);
    }

  }
  
